[user]
  name = Theodor Tonum
  email = theodor@tonum.no
[push]
        default = simple
[core]
        excludesfile = ~/.global_gitignore
[alias]
        cp = cherry-pick
[github]
        user = theodorton
[merge]
        conflictstyle = diff3
[rebase]
        autosquash = true
        autostash = true
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        wsErrorHighlight = all
