[user]
  name = Theodor Tonum
  email = theodor@tonum.no
[push]
        default = simple
[core]
        excludesfile = ~/.gitignore
[alias]
        cp = cherry-pick
[github]
        user = theodorton
